body {
  --margin:1.56rem;
  font-family: 'Inter', sans-serif;
}

.content-grid {
    background-color: #fff;
    color: #2B4F60;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: calc(var(--margin) * 2);
    margin-bottom: 3rem;
}

.button-group {
    display: flex;
    align-self: center;
    gap: calc( 10 * var(--margin));
    padding-top:calc( 2.5 * var(--margin));
}

.nav-button {
    background-color: #D9D9D9;
    color: #2B4F60;
    font-weight: 600;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
}

.nav-button a {
    text-decoration: none;
    color: inherit;
}

.asset-list {
    list-style-type: disc;
    padding-top:calc( 2.5 * var(--margin));
}

.asset-list ul {
    list-style-type: disc;
    padding-left: 1.5rem;
}