body {
  --margin:1.56rem;
  font-family: 'Inter', sans-serif;
}

.routes-grid {
    width: 100%;
    padding: 3rem var(--margin);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: calc(1.5 * var(--margin)); 
    box-sizing: border-box;
}
a
.route-card {
    width: 100%;
    height: fit-content;
    overflow: hidden;
}

.route-card img {
    width: 100%;
    display: block;
}

.route-text {
    padding: 5% 0;
}

.route-title {
    color: #845460;
    font-weight: bold;
    font-size: 140%;
    margin-bottom: 4%;
}

.route-description {
    color: #4B5563;
    /* Tailwind gray-700 */
    text-align: justify;
    font-size: 100%;
}

.read-more {
    text-align: right;
    text-decoration: underline;
    padding: 2% 0;
    color: #845460;
}