body {
  --margin:1.56rem;
}

/* Container Layout */
.content-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin: var(--margin);
  gap: calc(0.1*var(--margin));
  box-sizing: border-box;
}

/* Text Section Styling */
.text-section {
  color: #2B4F60;
  font-weight: 440;
  font-size: 1.29rem;
  text-align: justify;
  display: flex;
  flex-direction: column;
  margin-right: calc(2*var(--margin));
  margin-left: calc(3*var(--margin));
}

/* Image Section Styling */
.image-section {
  display: flex;
  flex-direction: column;
  gap: calc(0.56*var(--margin));
  padding-right: calc(3*var(--margin));
}

.image-section img {
  width: 100%;
  border-radius: 0.75rem;
}