body {
  --margin:1.56rem;
  font-family: 'Inter', sans-serif;
}

.image-container {
    width: 85%;
    margin: 0 auto 3rem auto;
    /* Equivalent to mb-12 and mx-auto */
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}