{% extends "pages/base.html" %}

{% block title %}MARG{% endblock %}

{% block content %}
<div class="grid-container">
    <div class="grid-item left-column">
        Reconstruction pertains to properties that are extensively damaged or have been completely lost. The process
        involves the recreation of the original design, appearance, and materials of the road/routes or related
        features. In this case of historic roads/routes, this may require a complete replacement if it has deteriorated
        beyond repair, utilizing the original specifications and construction methods.
    </div>
    <div class="grid-item right-column">
        <!-- Content for the second column can go here -->
    </div>
</div>
{% endblock %}