/* === Base Styles === */
body {
  font-family: 'Inter', sans-serif;
  --text-color: #2b4f60;
  --text-color-hover: 43 79 96;
}

/* === Navigation Container === */
.secondary-navbar {
  width: 100%;
  background-color: rgb(189, 199, 201);
  display: flex;
  flex-direction: column;
  align-items: left ;
  position: relative;
}

.navbar-list {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem 2rem;
  position: relative;
  list-style: none;
}

.navbar-list li a{
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.2rem;
  font-weight: 575;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.navbar-list li a:hover{
  color: var(--text-color-hover);
}