/* Container Layout */
.content-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 100%;
  margin: 0 auto 5rem auto;
  gap: 2rem;
  box-sizing: border-box;
  padding: 0 1rem;
}

/* Text Section Styling */
.text-section {
  color: #2B4F60;
  font-weight: 540;
  font-size: 1rem;
  text-align: justify;
  display: flex;
  flex-direction: column;
}

/* Image Section Styling */
.image-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.image-section img {
  width: 100%;
  height: 45vh;
  border-radius: 0.75rem;
}
