.grid-container {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #2B4F60;
    width: 85%;
    margin: 0 auto 3rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.grid-item {
    padding: 1rem;
}

.left-column {
    /* Add additional styling if needed */
}

.right-column {
    /* Placeholder for future content */
}